<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LoggingDir" value="logs/"/>
    <property name="LoggingHistoryDir" value="logs/history/"/>
    <property name="ROOT_LEVEL" value="TRACE"/>
    <timestamp key="byDate" datePattern="yyyyMMdd"/>
    <property name="MESSAGE_FILE_PATTERN" value="%d{yyyy-MMM-dd HH:mm:ss.SSS} %-5level [%thread] %logger %msg%n"/>
    <property name="maxHistory" value="40"/>


    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>TRACE</level>
        </filter>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%-12(%d{HH:mm:ss.SSS}) %highlight(%-5level) [%thread] %cyan(%-40logger{40}) %msg%n</Pattern>
        </layout>
    </appender>

    <appender name="ASYNC_STDOUT" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="STDOUT"/>
    </appender>

    <logger name="org.dxee.dject" level="DEBUG">
    </logger>


    <root level="${ROOT_LEVEL}">
        <appender-ref ref="ASYNC_STDOUT"/>
    </root>
</configuration>